<p>
	Use the widget below to schedule time for a call. I will manually confirm our appointment when I see it. Don't forget to include your
	number if you'd like me to call you.
</p>

<p>
	If the widget doesn't work, try <a href="https://calendly.com/aklin" target="_blank">this link</a> instead.
</p>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/aklin/15min" style="min-width:320px;height:850px;"></div><script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->