<footer class="site-footer">
  <div class="wrapper">
    <!--     <h2 class="footer-heading">{{ site.title | escape }}</h2> -->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</li>
        </ul>
      </a>
    </div>
    <div class="footer-col footer-col-2">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> This site is work in progress</p>
    </div>
    <div class="footer-col footer-col-3">
      <ul class="social-media-list">
        <li>
          <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/aklin">Github</a>
        </li>
        <li>
          <i class="fa fa-stack-overflow" aria-hidden="true"></i> <a href="https://stackoverflow.com/users/2194007/rath">Stack Overflow</a>
        </li>
        <li>
          <i class="fa fa-rss-square" aria-hidden="true"></i> <a href="{{ "/feed.xml" | relative_url }}">RSS feed</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>