
<style type="text/css">
.fae{font-family: monospace;}
.fae::after{content: "@protonmail.com"}
</style>

<h1>Email &amp; PGP Key</h1>

<p>
	<span class="fae"><i class="fa fa-envelope-o" aria-hidden="true"></i> aklin</span>
</p>

<div class="highlighter-rouge"><pre class="highlight"><code>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v2.6.1
Comment: protonmail, aklin.github.io

xsBNBFpmv4cBCADB7aPqwAxZTV8bFx9MQQ+o6Bh1LoPM60m1D5P1RMf8553a
yM39NEvyK9eTea5xxfyI3GTI5qoJX4wbs4CtbpSkDa65S8nATFx1ZHc70pJW
jZVZa4fqsLeWRDJyB2rWvahlqX0Re01nCFXjfLuD7cysuQch/Xl7f6BJNhhp
fxCwo/n5BslcRTiykQOSRN1fUXQXRp8V5VzI12PU/uZh84CZrucwlbI0/nxH
+vtW3bP4UY9NmtVlRM0cDFidgHv17frwiwQVoogeWnBOWWwkWIjm0L55kjn0
HcovKPscuuGX8qbQqDXM0APSfyFWphKF/J3iJXEUKivUdOhj/bQGW42BABEB
AAHNK2FrbGluQHByb3Rvbm1haWwuY29tIDxha2xpbkBwcm90b25tYWlsLmNv
bT7CwHUEEAEIACkFAlpmv4gGCwkHCAMCCRA/48kXztgBIwQVCAoCAxYCAQIZ
AQIbAwIeAQAARpYH/3wItLW6K9AXR1GZy7Lyn6Fd8iyYYTadDhx/ScbBxJKX
CTzVDuS8CZl3v2L7vdL6kg1SpjmlOqPtTvrbnl5NEkZ7xxps7gc3nHX9GzXE
/uo2zXPuHzoktcSvX33kWm4qO+8JmmfmNOreAOn4VWF7FdK9HBQhsY0v8oIV
lAJXQRGQTKs0/TGYtvoVBu7F//N8eejdZjYTLCQOQTkYgGG8PlT/3PR1KjQS
ULu6E10SXQV5k8F81pQlZktsPikouxdFgqdagkOrxAGsI4q7g/AOjcSiAKyE
KEzBS4Lh7HRdkQrI2hrUV/6D91PFNK0wj25KytcCRZugQoVitP1oD6sZf8zO
wE0EWma/hwEIAN/AkKThQ+YvG/2oMYsZK4Sq6ymQyq4RM6XkVWOaQLcnClOi
F8yLzSKwJBhFNqLyadsyElIAivSrpUR6/QiRdxLrWtnYLMPBfkzupY/sCTJO
7qTnNhIdLWPZ9o+cY49zNXjimTZRhjR2jkL6MPh1RrzbGJAPmjNjlqomoT1q
ya0IGM3GUz9z2GvVg3ytscrLnON9VPeaBzJVzh24US/e44gTxdNmjoSzaleB
gdD4nziHWsOpTmMVBe+YEW0GbW+VUR2Iq+x/SjkenXUg1fw3A70a0AfCmO7q
seJ3OsLr+oHEiOejtFTFicyPEnDpDt/MwreK3ek1Mu9K4BJDJ7A5ZfMAEQEA
AcLAXwQYAQgAEwUCWma/iAkQP+PJF87YASMCGwwAALDNB/oD1BFTrNuS3bFm
kSSUR5U9Un1TGjj4z8wmB+AWgz7HgRHYuUdu5Dt3ikOz6iRpE646XqF3ejCI
JQw5CrNpxi+U9a8tZuoH6tLfFJNLDEtMREM+qc6/1oejqunSn4zaKldonD5C
PhfhWtuRg/4dn7trcFX4+2DNyUpd/YbwT9S/cfSyFK9gcnIjHEdy9HazYMvl
DENhuskikzQ2NMW92oGN/ljqT1aPgWCZ4hZ8TNQWyp9u5L/KMFgU9eLplEfw
NwCXS5l8kLHVo+aG2SSBGPolTyZyDK+s5grAOii9zV2zqyDYYdaiUbrqJAZJ
JLIXsQZP1k6ZmPjbymwo25BH34L7
=6wL1
-----END PGP PUBLIC KEY BLOCK-----

</code></pre>
</div>