<div class="column is-one-fifth gradient">
	<section class="section has-text-centered sidebar">
		<div class="page-info-section half-spacer">
			<h1 class="title">{{ page.title }}</h1>
			<h2 class="subtitle">{{ page.subtitle }}</h2>
			<div class="inverted">
				{% include tags.html %}
			</div>
		</div>
		<div class="contact-section half-spacer">
			<h1 class="title">{{ site.author }}</h1>
			<h2 class="subtitle">{{ site.subtitle }}</h2>

			<ul class="contact-list">
				<li><span class="grayscale">✉️</span> <a href="mailto:me@email.com">me@email.com</a></li>
				<li><span class="grayscale">🔑</span> <a href="#">PGP Key</a></li>
				<li><span class="grayscale">🐸</span> <a href="#">@gab</a></li>
				<li><span class="grayscale">☎️</span> <a href="tel:(+44)790000000">Telephone</a></li>
			</ul>

		</div>

	</section>

</div>
