{% if page.tags %}
<div class="field is-grouped is-grouped-multiline">


	{% for tag in page.tags %}
		{% assign tag_counter = 0 %}

		{% for post in site.posts %}
			{% for post_tag in post.tags %}
				{% if post_tag == tag %}

					{% unless post.unpublished %}
						{% assign tag_counter=tag_counter | plus:1 %}
					{% endunless %}
					{% break %}
				{% endif %}
			{% endfor %}

		{% endfor %}

  	<div class="control">
	    <div class="tags has-addons">
	      <span class="tag">{{ tag }}</span>
	      <span class="tag">{{ tag_counter }}</span>
	    </div>
	</div>


	{% endfor %}

</div>
{% endif %}
