// Custom styles.

$kbd-shadow: rgba(0,0,0,0.2);
$kbd-shadow-dimensions:  0 1px 0;
$kbd-shadow-style: 0 0 0 2px #ffffff inset;
$kbd-border-radius: 3px;
/* Thanks to http://www.rgagnon.com/jsdetails/js-nice-effect-the-KBD-tag.html */
kbd{
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	/* line-height: 1.4; */
	font-family: Verdana,Helvetica,sans-serif;
 	font-size: 11px;
	display: inline-block;
	box-shadow: $kbd-shadow-dimensions $kbd-shadow, $kbd-shadow-style;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow:$kbd-shadow-dimensions $kbd-shadow, $kbd-shadow-style;
	-webkit-box-shadow:$kbd-shadow-dimensions $kbd-shadow, $kbd-shadow-style;
	-moz-border-radius: $kbd-border-radius;
	-webkit-border-radius: $kbd-border-radius;
	text-shadow: 0 1px 0 #fff;
}